body {
  background-color:#0454a4;
}
.height-100 {
  height: 65vh;
}

.b_logo{
    height: 150px;
    margin: 20px 20px 60px 85px;
}

.card h6 {
  color:#0454a4;
  font-size: 20px;
}
.inputs input {
  width: 40px;
  height: 40px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.card-2 {
  background-color: #fff;
  padding: 10px;
  width: 350px;
  height: 100px;
  bottom: -50px;
  left: 20px;
  position: absolute;
  border-radius: 5px;
}
.card-2 .content {
  margin-top: 50px;
}
.card-2 .content a {
  color:#0454a4;
}
.form-control:focus {
  box-shadow: none;
  border: 2px solid#0454a4;
}
.validate {
  border-radius: 20px;
  height: 40px;
  background-color:#0454a4;
  border: 1px solid#0454a4;
  width: 140px;
  color: white;
}

.uvdox_img{
    background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  /* border-radius: 4%; */
  /* object-fit: cover;
  object-position: 0 100%; */
  height: 100vh;
  width: 700px;
  /* margin: 10px; */
}

.registration_div{
    /* opacity: 90%; */
  height: 100vh;
  padding: 0 ;
}

.form_center{
    background-color:#0454a4;
    padding: 4% 10%;
    margin: 5% 10% 0;
    border-radius: 5%;
}

.form-label, .col-form-label {

    color: white;
}

.btn_submit{
    margin-top: 30px;
}

.logo{
    height: 100px;
    margin: 10px 10px 10px 190px;
}

.heading{
    color: white;
    text-align: center;
}

@media only screen and (min-width: 960px) {
  /* styles for browsers larger than 960px; */

.card {
  width: 450px;
  border: none;
  height: 350px;
  /* box-shadow: 0px 5px 20px 0px #d2dae3; */
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#0454a4;
}
}
@media only screen and (min-width: 1440px) {
  /* styles for browsers larger than 1440px; */
}
@media only screen and (min-width: 2000px) {
  /* for sumo sized (mac) screens */
}
@media only screen and (max-device-width: 480px) {
  /* styles for mobile browsers smaller than 480px; (iPhone) */
  .uvdox_img {
    display: none;
  }
  .logo {
    height: 100px;
    margin: 10px auto 20%;
    display: block;
  }
  .form_center {
  background-color: #0454a4;
  padding: 1% 10%;
  margin: 5% 5%;
  border-radius: 5%;
}

  .card {
  border: none;
  height: 350px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#0454a4;
}
.card-2 {
  background-color: #fff;
  padding: 10px;
  width: 350px;
  height: 100px;
  bottom: -50px;
  left: 20px;
  position: absolute;
  border-radius: 5px;
}
}
@media only screen and (device-width: 768px) {
  /* default iPad screens */
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* For landscape layouts only */
}